name: feedback

on:
  push:
    branches:
      - master
    paths:
      - "feedback/**"
      - ".github/workflows/feedback.yml"
  pull_request:
    paths:
      - "feedback/**"
      - ".github/workflows/feedback.yml"

jobs:
  check:
    defaults:
      run:
        working-directory: feedback
    # the golden images were generated on MacOS, therefore the tests must run on MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '12.x'
          distribution: 'adopt'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: dart format --set-exit-if-changed .
      - run: flutter analyze
      - run: flutter test --coverage
      - uses: codecov/codecov-action@v5.0.7

  build:
    needs: check
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest]
        flutter_channel: [stable, beta]
        include:
          - os: macOS-latest
            flutter_build: ios --no-codesign
          - os: ubuntu-latest
            flutter_build: apk
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.flutter_channel }}
      - working-directory: feedback/example
        run: flutter build ${{ matrix.flutter_build }}
